<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div>
        <div>
            <h1>Delete-se agora!</h1>
            <form action="del_email" method="post">
                <label for="email">E-mail:</label>
                <input type="email" id="email" placeholder="email@email.com" name="email" required>
                <input type="submit" value="Inscreva-se">
            </form>
        </div>
        <div>
            <br>
            <img src="static/imagens/logo.png"></img>
        </div>
    </div>
</body>

</html>