<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{url_for("static", filename="/css/error.css")}}" />
    <title>Newsletter Mindtech</title>
</head>
<body>
    <div id="conteiner">
        <div id="text-sec">
            <div class="img">
                <img class='imagem' src="{{url_for("static", filename="/img/warn.png")}}">
            </div>
            <h1>{{ msg }}</h1>
            <img class='logo' src="{{url_for("static", filename="/img/logo-mindtech.png")}}">
            <button type='submit'><a href="/">Voltar</a></button>
        </div>
    </div>
</body>
</html>