<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>

<body>
    <div>
        <div>
            <h1>Inscreva-se agora!</h1>
            <p>
                Preencha o formulário abaixo para se inscrever e comece a receber
                nossas atualizações diretamente em sua caixa de entrada.
            </p>
            <p>
                <b>Guias e Tutoriais: </b>Aprenda como implementar e otimizar soluções
                de IoT para sua empresa.
            </p>
            <p>
                <b>Notícias e Tendências: </b>Fique por dentro das últimas novidades e avanços
                no mundo do IoT.
            </p>
            <p>
                <b>Ofertas e Promoções: </b>Receba ofertas especiais e promoções exclusivas para
                assinantes da nossa newsletter.
            </p>
            <form action="add_email" method="post">
                <label for="email">E-mail:</label>
                <input type="email" id="email" placeholder="email@email.com" name="email" required>
                <input type="submit" value="Inscreva-se">
            </form>
        </div>
        <div>
            <br>
            <img src="static/imagens/logo.png"></img>
        </div>
    </div>
</body>

</html>