<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{url_for("static", filename="/css/styles.css")}}" />
    <title>Newsletter Mindtech</title>
</head>

<body>
    <div id="conteiner">
        <div id="text-sec">
            <h1>Inscreva-se agora!</h1>
            <p id="intro">
                Preencha o formulário abaixo para se inscrever e comece a receber
                nossas atualizações diretamente em sua caixa de entrada.
            </p>
            <p><span>✔</span><b>Guias e Tutoriais:</b> Aprenda como implementar e otimizar soluções
                de IoT para sua empresa.
            </p>
            <p><span>✔</span>
                <b> Notícias e Tendências: </b> Fique por dentro das últimas novidades e avanços
                no mundo do IoT.
            </p>
            <p><span>✔</span>
                <b> Ofertas e Promoções: </b> Receba ofertas especiais e promoções exclusivas para
                assinantes da nossa newsletter.
            </p>
            <form action="add_email" method="post">
                <label for="email">E-mail:</label>
                <input type="email" id="email" placeholder="email@email.com" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" name="email" required>
                <input id="submit" type="submit" value="Inscreva-se">
            </form>
            <button id="submit" type="submit"><a href="{{ url_for('del_html')}}">Cancelar inscrição</a></button>
        </div>
        <div class="img">
            <img src="{{url_for("static", filename="/img/logo.png")}}">
        </div>
    </div>
</body>

</html>